body {
    background-color: #f3f3f3;
}

/**** Homepage ****/

.presentation {
    background-image: url('/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 100%;
    color: #ffffff;
}

.intro-text {
    padding-top: 300px;
    padding-bottom: 100px;
}

.intro-head {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}

.text-presentation {
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 50px;
}

/**** About ****/

h2.about-intro {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

/**** Formulaire Création d'un article ****/

.title-post {
    margin: auto;
    padding: 2rem 0 4rem;
}

.heading-form {
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    border: 1px solid #82bfab;
}

.form-group {
    margin-bottom: 2rem;
}

#form-post {
    width: 800px;
    margin: auto;
}

#editor {
    height: auto;
    min-height: 500px;
    background: #ffffff;
    border: 1px solid #82bfab;
}

.submitPost {
    background-color: #82bfab;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    margin-right: 1.2rem;
    color: #ffffff;
    border: none;
}

.submitPost:hover {
    color: #ffffff;
}

/**** Gestion des erreurs ****/

#titleError, #editorError {
    color: 	#ff0000;
    font-size: 14px;
    margin-top: 0.5rem;
}

/**** Contact ****/
.contact {
    background-color: #343a40;
    padding: 70px 0;
}

.contact .section-heading {
    color: #ffffff;
    padding-top: 1rem;
}

.contact h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
}

.contact textarea.form-control {
    height: 250px;
}

.contact input.form-control {
    padding: 30px;
}

.btn-primary {
    background-color: #82bfab;
    border-color: #82bfab;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #82bfab;
    border-color: #82bfab;
}

.btn-xl {
    font-size: 18px;
    padding: 15px 50px;
}


/**** Footer ****/

.footer {
    padding: 20px 0;
    text-align: center;
}

.copyright {
    font-size: 18px;
}

.link-admin {
    font-size: 18px;
}

ul.social-buttons {
    margin-bottom: 0;
}

.inline-buttons {
    display: inline-block;
}

li.inline-buttons {
    margin-right: 2rem;
    font-size: 25px;
}

.fa {
    color: #82bfab;
}