body {
    background-color: #f3f3f3;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

/**** Navbar ****/

.bg-dark {
    background-color: #5ba79d !important;
}

/**** Homepage ****/

.presentation {
    background-image: url('/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 100%;
    color: #ffffff;
}

.intro-text {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    padding-top: 300px;
    padding-bottom: 100px;
}

.intro-head {
    font-size: 60px;
    line-height: 40px;
    margin-bottom: 25px;
    font-weight: bold;
}

.text-presentation {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 50px;
}

h2.section-heading {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.recent-post h2.section-heading {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    margin: 30px 0;
}

.card {
    margin-bottom: 30px;
    border: none;
}

h5.card-title {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #5ba79d;
}

.card-body {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/**** About ****/

h2.about-intro {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

/**** Page article ****/

.post-heading {
    padding: 100px;
}

.post-heading h1 {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.date-post {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.post-content {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 30px;
}

/**** Commentaire ****/

.comment-wrapper {
    margin: 50px;
}
.comment-wrapper .panel-body {
    overflow: hidden;
}

.panel {
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    border-radius: 4px;
}

.panel-info {
    border-color:#5ba79d;
}

.panel-info>.panel-heading {
    background-color: #5ba79d;
    border-color: #5ba79d;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading h4 {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.panel-body {
    padding: 15px;
}

#author {
    margin-bottom: 10px;
}

.media-list {
    padding-left: 0;
    list-style: none;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #5ba79d;
    margin-bottom: 25px;
}

.media>.pull-left {
    padding-right: 10px;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #33645e;
    border-radius: 50%;
}

.author-comment {
    color: #33645e;
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.date-comment {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 12px;
    float: right;
}

.comment {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-size: 14px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #616e7d;
}

.report a {
    font-family: 'Lora',Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: right;
}

.badge-danger {
    margin-bottom: 0.5rem;
}

/**** Administration ****/

.admin-heading {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: auto;
    padding: 2rem 0 4rem;
}

.index-admin-heading {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: auto;
    padding: 4rem 0 2rem;
}

/**** Formulaire création d'un article ****/

.heading-form {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    border: 1px solid #616e7d;
}

.form-group {
    margin-bottom: 2rem;
}

#form-post {
    width: 800px;
    margin: auto;
}

#editor {
    height: auto;
    min-height: 500px;
    background: #ffffff;
    border: 1px solid #616e7d;
}

.submitPost {
    background-color: #616e7d;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    margin: 0.5rem 0;
    color: #ffffff;
    border: none;
}

.submitPost:hover {
    color: #ffffff;
}

/**** Tableau index ****/

.tr-table-index {
    font-size: 12px;
}

.th-table-index {
    font-size: 14px;
}

.btn-success-index {
    background-color: #5ba79d;
    font-size: 0.6rem;
    padding: 0.4rem 1.2rem;
    margin-left: 0.3rem;
    color: #ffffff;
    border: none;
}

.btn-success-index:hover {
    color: #ffffff;
}

.btn-danger-index {
    background-color: #dc3545;
    font-size: 0.6rem;
    padding: 0.4rem 1.2rem;
    margin-left: 0.3rem;
    color: #ffffff;
    border: none;
}

.btn-danger-index:hover {
    color: #ffffff;
}

/**** Tableau ****/
.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

/**** Gestion des erreurs ****/

#titleError, #editorError {
    color: 	#ff0000;
    font-size: 14px;
    margin-top: 0.5rem;
}

/**** Contact ****/
.contact {
    background-color: #5ba79d;
    padding: 70px 0;
}

.contact .section-heading {
    color: #ffffff;
    padding-top: 1rem;
}

.contact h2.section-heading {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
}

.contact textarea.form-control {
    height: 250px;
}

.contact input.form-control {
    padding: 30px;
}

.btn-primary {
    background-color: #616e7d;
    border-color: #616e7d;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #616e7d;
    border-color: #616e7d;
}

.btn-xl {
    font-size: 18px;
    padding: 15px 50px;
}

.btn-success {
    background-color: #5ba79d;
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    color: #ffffff;
    border: none;
}

.btn-success:active, .btn-success:focus, .btn-success:hover {
    background-color: #5ba79d;
    border-color: #5ba79d;
}

.btn-danger {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    color: #ffffff;
    border: none;
}

/**** Footer ****/

.footer {
    padding: 20px 0;
    text-align: center;
}

.copyright {
    font-size: 18px;
}

.link-admin {
    font-size: 18px;
}

.link-admin a {
    color: #616e7d;
}

ul.social-buttons {
    margin-bottom: 0;
}

.inline-buttons {
    display: inline-block;
}

li.inline-buttons {
    margin-right: 2rem;
    font-size: 25px;
}

.fa {
    color: #616e7d;
}

